

@font-face {
  font-family: 'wild_worldbold';
  src: url('wildworld_font-webfont.woff2') format('woff2'),
       url('wildworld_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url('montserrat-bold-webfont.woff2') format('woff2'),
       url('montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.app-container {
  display: grid;
  height: 100vh;
  
  grid-template: 
  "nav nav nav nav nav"
  "sidebar main main main main"
  "sidebar content1 content2 content3 content4"
  "sidebar content1 content2 content3 content4"
  "sidebar footer footer footer footer";
  
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.7fr 1.2fr 0.8fr;
  grid-gap : 0.2rem;
  
  
  
}

nav{
  display: flex;
  grid-area: nav;
  font-family: 'montserratbold';
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

main{
  
  grid-area: main;
  height: 100%;
  overflow: auto;
}
footer{
  
  grid-area: footer;
  
}

.sidebar{
 
  grid-area: sidebar;
}

.content1{
  grid-area: content1;
  border-left: 1px solid rgba(0, 0, 0, 0.1); 
}
.content2{
  grid-area: content2;
}
.content3{
  grid-area: content3;
}
.content4{
  grid-area: content4;
}

.content1,
.content2,
.content3 {
  border-right: 1px solid rgba(0, 0, 0, 0.1); 
  

}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.task-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.task-form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}
.task-form select {
  
  padding: 20px;
  font-size: 100px;
}

.task-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}


.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0.2rem auto;
  
  
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.task button {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  border: none;
  cursor: pointer;
}

.logo{
  width: 150px;
  height: auto;
}
